[requires]
python_version = "3.12"

[packages]
requests = "*"
aws-lambda-powertools = "~=2.26.0"
boto3 = "1.34.113"

[dev-packages]
moto = "*"
pytest-env = "*"
pytest-pythonpath = "*"
pytest = ">=7.0.0"
pytest-mock = "*"
python-dotenv = "*"
